.content-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 221px;

    img {
        display: block;
        width: 50%;
        max-height: 686px;
    }

    .right-product {
        width: 50%;

        .right-product-content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 0 120px;

            h1 {
                font-family: "Inter Medium";
                font-size: 20px;
                margin: 87px 0 24px;
                font-weight: 500;
            }

            .price-product {
                font-family: "Inter Light";
                font-size: 30px;
                margin-bottom: 50px;
            }

            .label-description {
                font-size: 10px;
                color: $lightgrey;
            }

            .description {
                font-size: 14px;
            }

            .add {
                margin-top: auto;
            }
        }
    }
}

.log {
    display: flex;

    .left-log {
        width: 50%;

        img {
            width: 100%;
            display: block;
        }
    }

    .right-log {
        width: 50%;

        .right-log-content {
            padding: 0 127px 0 100px;
            max-width: 479px;
            margin: auto;

            h1 {
                margin: 80px 0 41px;
                font-size: 20px;
                font-weight: "Inter Medium";
                font-weight: 500;
            }

            form {
                label {
                    display: block;
                    color: $lightgrey;
                    font-size: 14px;
                    margin-bottom: 10px;
                }

                input {
                    width: calc(100% - 2rem);
                    border: 1px solid $primary;
                    height: 67px;
                    margin-bottom: 30px;
                    background-color: $beige;
                    padding: 0 1rem;
                }

                .agree-content {
                    display: flex;
                    align-items: center;
                    column-gap: 7px;
                    margin-bottom: 30px;

                    #agreeTerms {
                        width: 19px;
                        height: 19px;
                        margin: 0;
                    }

                    label {
                        margin: 0;
                    }
                }
            }

            .not-log {
                text-decoration: underline;
                color: $lightgrey;
                font-size: 14px;
                margin-top: 30px;
                text-align: center;
                display: block;
            }
        }
    }
}

.shopping,
.profile {
    background-color: #f7f1ec;
    padding: 102px 0 146px;

    h1 {
        text-align: center;
        font-size: 20px;
        font-family: "Inter Medium";
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .clear {
        text-decoration: none;
        color: $lightgrey;
        font-size: 14px;
        margin-bottom: 17px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }

    .shopping-card {
        background-color: $beige;
        padding: 43px;
        display: flex;
        align-items: center;
        column-gap: 55px;
        flex-wrap: wrap;
        margin-bottom: 5px;
        img {
            width: 142px;
            height: 132px;
            object-fit: cover;
            display: block;
        }
        .right-shopping-card {
            h2 {
                font-weight: 600;
                color: black;
                font-size: 14px;
                margin-bottom: 6px;
            }
            .quantity {
                color: $lightgrey;
                font-size: 14px;
                margin-bottom: 13px;
            }
            .price {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

    .center-content {
        max-width: 604px;
        margin: auto;

        .content-total-shopping {
            padding: 20px 38px;
            background-color: #fffdf7;
            text-align: right;

            .total {
                font-family: "Inter Medium";
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 6px;

                .total-price {
                    font-size: 20px;
                }
            }

            .livraison {
                font-size: 12px;
                color: $lightgrey;
            }
        }

        .btn-darkgrey {
            margin: auto;
            margin-top: 29px;
        }
    }
}

.profile {
    background-color: #f7f1ec;
    .content-api,
    .content-delete-account,
    .content-orders {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        padding: 60px;
        background-color: $beige;
        h2 {
            color: black;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 30px;
            margin-top: 0;
        }
        .btn-darkgrey {
            margin-top: 0;
        }
    }
}
