@import "color";
@import "font";
@import "header";
@import "footer";
@import "home";
@import "content";

html {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    color: $primary;
    background-color: $beige;
    margin: 0;
}

.ancre {
    scroll-margin-top: 116px;
}

.btn-darkgrey {
    cursor: pointer;
    background-color: #565656;
    color: #ffffff;
    font-size: 14px;
    transition: 0.3s;
    max-width: 479px;
    width: 100%;
    height: 77px;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &:hover {
        background-color: black;
    }
}
