@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter/static/Inter_28pt-Regular.ttf");
}
@font-face {
    font-family: 'Inter Medium';
    src: url("./fonts/Inter/static/Inter_24pt-Medium.ttf");
}
@font-face {
    font-family: 'Inter Light';
    src: url("./fonts/Inter/static/Inter_24pt-Light.ttf");
}

@font-face {
    font-family: 'Playfair Medium';
    src: url("./fonts/Playfair_Display/static/PlayfairDisplay-Medium.ttf");
}