header {
    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        padding: 32px 100px;
        .logo {
            display: flex;
            align-items: center;
            column-gap: 6px;
            color: #497555;
            font-family: "Playfair Medium";
            text-decoration: none;
            font-size: 14px;
            .content-icone {
                background-color: #497555;
                color: white;
                border-radius: 3.06px;
                width: 19px;
                height: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icone {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
        nav {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                column-gap: 53px;
                li {
                    a {
                        text-decoration: none;
                        color: $primary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
