{% extends 'base.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block body %}
	<main class="profile">
		<div class="center-content">
			<h1>Mon compte</h1>
			{% if orders is defined %}
				<div class="content-orders">
					<h2>Mes commandes</h2>
					<table>
						<thead>
							<tr>
								<th>N°</th>
								<th>Date</th>
								<th>Prix</th>
							</tr>
						</thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.date }}</td>
                                    <td>{{ order.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
					</table>
				</div>
			{% endif %}
            <div class="content-api">
                <h2>Mon accès API</h2>
                <a href="#" class="btn-darkgrey">Activer mon accès API</a>
            </div>
            <div class="content-delete-account">
                <a href="#" class="btn-darkgrey">Supprimer mon compte</a>
            </div>
		</div>
	</main>
{% endblock %}
